{%- set image_classes = [] -%}

{%- if spoiler -%}
	{%- set image_classes = image_classes | concat(with="spoiler") -%}
{%- endif -%}

{%- set image_classes = image_classes | join(sep=" ") -%}

{%- if url_min -%}
	<a href="{{ url }}">
		<img class="{{ image_classes }}" {%- if alt -%}alt="{{ alt }}"{%- endif -%} src="{{ url_min }}" {%- if config.markdown.lazy_async_image -%}decoding="async" loading="lazy"{%- endif -%} />
	</a>
{%- else -%}
	<img class="{{ image_classes }}" {%- if alt -%}alt="{{ alt }}"{%- endif -%} src="{{ url }}" {%- if config.markdown.lazy_async_image -%}decoding="async" loading="lazy"{%- endif -%} />
{%- endif -%}
