{% extends "base.html" %}

{% block content %}
<div class="logs">
<h1 class="title">
  {{ section.title }}
</h1>
  
  {% for page in paginator.pages %}
		<article class="listing">
			<h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
			<p class="subtitle --center"><code class="dateandtag">{{ page.date }}</code></p>
		</article>
	{% endfor %}

{% if paginator.last != paginator.first %}

<nav data-style="none" class="pagination">
  {% if paginator.previous %}
  <a class="page-nav" href="{{ paginator.previous }}">Prior</a>
  {% else %}
  <a class="page-nav" href="{{ paginator.last }}">Dated</a>
  {% endif %}

  {% if paginator.previous or paginator.next -%}
    <a class="page-nav" href="#">{{ paginator.current_index }} of  {{ paginator.number_pagers }} </a>
  {%- endif %}

  {% if paginator.next %}
  <a class="page-nav" href="{{ paginator.next }}">Later</a>
  {% else %}
  <a class="page-nav" href="{{ paginator.first }}">Latest</a>
  {% endif %}
</nav>

{% endif %}

{% endblock content %}


